.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 16px;
    flex-basis: 0;
    overflow: auto;
    padding: 16px 16px 0;
}

.composer {
    display: flex;
    width: 100%;
    margin: 16px 0;
    padding: 0 16px;
}

.textInputContainer {
    display: flex;
    flex: 1;
    background-color: #27272cd9;
    border-radius: 20px;
    padding: 8px;
    align-items: flex-end;
    flex-direction: column;
}

.textInputContainer textarea, .textInputContainer input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 14px;
    max-height: 280px;
    height: fit-content;
    box-sizing: border-box;
    field-sizing: content;
    resize: none;
}

.sendBtn {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    outline: none;
    border: none;
}
