.root {
  display: flex;
  height: 100vh;
  flex: 1;
  background-color: var(--background-default);
  flex-direction: column;;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
}

body {
  --text-default: #fff;
  --text-secondary: #888;
  --background-default: #212121;
  --background-elevated: oklch(21% .006 285.885);
  --border-color: #333;
  --input-field-default: oklch(0.24 0 0);;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-default);
  margin-bottom: 8px;
}
